:root {
    background: #97adc8;
    font-size: 10px;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 5.4rem;
    color: #ffffff;
    margin-bottom: 5rem;
}

h1 > span{
    font-size: 2.4rem;
    font-weight: 500;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3{
    font-size: 2.8rem;
    font-weight: 500;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > *{
    width: 100%;
}

.difficulty, .count, .category{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    width: 20rem;
}

.difficulty:hover, .count:hover, .category:hover{
    transform: scale(1.01);
}

.glow{
    animation: glow 1s linear alternate infinite;
 
}

*:focus{
    outline: 3px solid #1b4f7cbb;
}
.value{
    color: rgb(12, 12, 102);
    font-size: 2rem;
}

select{
    width: 20rem;
    height: 5rem;
    font-size: 1.8rem;
    text-align-last: center;
    border: 3px solid #1b4f7cbb;
    color: #56a5eb;
}

select:active, select:focus, select:visited{
    border: none;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.btn{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder{
    color: #aaa
}

#highScoresList{
    margin-bottom: 4rem;
}

.high-score{
    font-size: 2.8rem;
    margin: 0 auto 2rem;
}

#finalScore{
    color: #333;
}

#highScores{
    background-color: white;
    padding: 5rem;
    border-radius: 10px;
    color: #333;
}

.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: .1rem solid rgba(86,165,235,0.25);
    background-color: white;
    border-radius: 10px 0px 0px 10px;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 236, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #0b3152;
    color: white;
    border-radius: 10px 0px 0px 10px;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
    color: #333;
}

.correct{
    background-color: #28a745;
}

.incorrect{
    background-color: #dc3505;
}

#start{
    background: #177c17;
    border: 3px solid #266436;
}

#start:hover, #main:hover, #scores:hover, #saveScoreBtn:hover, #again:hover{
    transform: scale(1.01);
    transition: .4s ease-in-out;
}

#start p:hover, #scores p:hover, #again p:hover{
    cursor: pointer;
    transform: translateX(-.5rem);
    transition:.4s ease-in-out;
}

.play, .mute{
    font-size: 4rem;
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
}

.play{
    display: block;
}

.mute{
    display: none;
}

#start p:hover::after, #scores p:hover::after{
    font-family: "FontAwesome";
    display: inline block;
    content: "\f054";
    position: absolute;
    animation: shiftRight .4s forwards ease-in-out;
}

#main, #scores, #again, #start, #end{
    background: #0b3152;
    color: white;
    border: 3px solid rgba(33, 90, 139, 0.863);
}

#question{
    font-size: 2.2em;
}


#end p:hover, #main p:hover{
    cursor: pointer;
    transform: translateX(.5rem);
    transition: .4s ease-in-out;
}

#end p:hover::after, #main p:hover::after{
    font-family: "FontAwesome";
    display: inline block;
    position: absolute;
    left: 2.2em;
    content: "\f053";
    animation: shiftLeft .4s forwards ease-in-out;
}

#end{
    width: 100%;
}

#end p:hover::after{
    left: 35%;
}

#saveScoreBtn{
    background: #852b14;
    border: 3px solid #681010dc;
}

#scores p:hover::after{
    margin-left: 1rem;
    animation: rotate .4s forwards ease-in-out;
}

#saveScoreBtn p:hover{
    cursor: pointer;
    transform: translateX(-.5rem);
    transition: .4s ease-in-out;
}

#saveScoreBtn p:hover::after{
    font-family: "FontAwesome";
    display: inline block;
    position: absolute;
    content: "\f381";
    animation: shiftRight .4s forwards ease-in-out;
}

.btn[disabled]:hover, #saveScoreBtn[disabled]:hover, #saveScoreBtn[disabled] p:hover, #saveScoreBtn[disabled] p:hover::after{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    content: ""
}

#again p:hover::after{
    font-family: "FontAwesome";
    display: inline block;
    position: absolute;
    content: "\f2f9";
    animation: spin 1s infinite linear;
    margin-left: .75rem;
}

#hud{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#game{
    color: white;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
    color: #0b3152;
}

#progressBar{
    width: 20rem;
    height: 4.1rem;
    border: 0.3rem solid #0b3152;
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 3.5rem;
    background-color: rgb(23, 124, 23);
    width: 0%;
}

#loader{
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@media(min-width: 576px){
    #question{
        font-size: 3.5em;
    }
}

@media(min-width: 768px){
    #question{
        font-size: 4em;
    }
    
}

@media(min-width: 992px){
    #question{
        font-size: 5em;
    }
    
}




@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes shiftRight{
    0%{
        transform: translateX(0rem)
    }
    100%{
        transform: translateX(1rem);
    }
}

@keyframes shiftLeft{
    0%{
        transform: translateX(0rem)
    }
    100%{
        transform: translateX(-1rem);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform-origin: center;
        transform: rotate(-90deg);
    }
}

@keyframes glow{
    0%{
        box-shadow: 0 0rem 1rem 0 ;
    }
    100%{
        box-shadow: 0 0rem 3rem 0 gold;
    }
}


